/* general style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header {
  content: '';
  display: table;
  clear: both;
}

/* top header left */

.upheader {
  float: left;
  border-bottom: 1px solid white;
  border-color: rgb(55, 73, 89);
}

.upheader {

  width: 100vw;
  background-color: rgb(245, 249, 252);
}

.contentuphead {
  width: 70%;
  margin: auto;
}

.contentupheadsx {
  float: left;
  }

  .contentupheadsx p {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(55, 73, 89);
  }

  /* top header right */

.boxheaderdx {
  float: right;
}

.boxheaderdx .reserch {
  padding: 30px;
  color: rgb(71, 163, 186);
}

.boxheaderdx2 {
  float: right;
}

.boxheaderdx2 p {
  padding: 10px;
  margin: 20px;
  border: 1px solid orange;
  border-color: rgb(238, 126, 98);
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
  color: rgb(238, 126, 98);
  background-color: white;

}

.boxheaderdx3 {
  float: right;
}

.boxheaderdx3 p {
  padding: 10px;
  margin: 20px;
  margin-right: 0px;
  border: 1px solid orange;
  border-color: rgb(238, 126, 98);
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
  color: white;
  background-color: rgb(238, 126, 98);

}

/* down header */



.downheader {
  float: left;
}

.contentdownheader {
  width: 70%;
  margin: auto;
}

/* contentdownheadersx */

.downheader {
  width: 100vw;
  background-color: white;
}

.contentdownheadersx {
  float: left;
}

.contentdownheadersx img {
padding-top: 30px;
padding-bottom: 30px;
}

/* contentdownheaderdx */

.contentdownheaderdx {
  float: right;
}


.list li {
display: inline-block;
margin-left: 40px;
text-align: center;
font-family: 'Montserrat', sans-serif;
color: rgb(55, 73, 89);
line-height: 95px;
}



/* bigheader */

.bigheader {
  float: left;
}

.bigheadersideright {
  float: right;
}

.bigheader {
  width: 100vw;
  background-color: rgb(253, 245, 240);
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 693px;
}

.bigheadertop {
  width: 70%;
  margin: auto;
}

.bigheadertop {
height: 611px;
}

.bigheadersideleft {
  float: left;
}

.bigheadersideleft {
margin-top: 70px;
width: 555px;
}

.bigheadersideleft h1 {
font-size: 45px;
font-family: 'Montserrat', sans-serif;
color: rgb(55, 73, 89);
}

.bigheadersideleft h4 {
  margin-top: 30px;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
color: rgb(55, 73, 89);
line-height: 30px;
}

.bottoncopy {
  float: left;
}

.bottoncopy {
  margin-top: 30px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-color: rgb(238, 126, 98);
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
  color: white;
  background-color: rgb(238, 126, 98);
}

.minifoo {
  float: left;
}

.minifoo {
  width: 100%;
  padding-top: 40px;
}

.minifoo h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgb(55, 73, 89);
  font-size: 13px;
}



.spaceheader {
float: left;
}

.spaceheader {
  height: 82px;
  width: 100vw;
  background-color: rgb(187, 233, 228);
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-color: rgb(43, 56, 81);
}

/* main */

main {
  content: '';
  display: table;
  clear: both;
}

/* firstsection */

.firstsection {
  float:
  }

  .firstsection {
    height: 2000px;
    width: 100vw;
    background-color: rgb(245, 249, 252);
  }

  /* secondosection */

  .secondsection {
    float: left;
  }

  .secondsection {
    height: 900px;
    width: 100vw;
    background: rgb(73,165,184);
    background: linear-gradient(90deg, rgba(73,165,184,1) 0%, rgba(81,181,169,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    }

    /* terzasezione */

    .thirdsection {
      float: left;
    }

    .thirdsection {
      height: 900px;
      width: 100vw;
      background-color: white;
    }

    /* footer */

    footer {
      content: '';
      display: table;
      clear: both;
    }

    .mainfooter {
      float: left;
    }

    .mainfooter {
      height: 900px;
      width: 100vw;
      background-color: rgb(55, 73, 89);
    }
